main{
    height: 99%;
}
#noMar{
    margin: 0;
}
#holeRow{
    td{
        width: 50px;
    }
}
.courseSelectContainer{
    width: fit-content;
}
#GolfCourseSelect{
    width:1rem;
}
h6{
    font-style: italic;
}