main{
    height: 99%;
}
#noMar{
    margin: 0;
}
#holeRow{
    td{
        width: 50px;
    }
}
.courseSelectContainer{
    width: fit-content;
}
#GolfCourseSelect{
    width:1rem;
}
h6{
    font-style: italic;
}
.Trashbutton{
    all: unset;
    margin: .5rem;
}
.noHtml{
    display: none;
}
.centerScoreCard{
    margin:0 auto;
}
body{
    background-color: aliceblue;
}
select{
    color: black;
    background-color: white;
}
button{
    background-color: white;
    
}